@{
    ViewBag.Title = "Home Page";
    Layout = null;
}

<html lang="pt-pt">
<head>
    <meta charset="utf-8" />
    <title> COVID-19 </title>
    <link rel="stylesheet" href="~/Asserts/css/sb-admin-2.min.css" />
    <style>
        * {
            margin: 0;
            padding: 0;
            font-family: Roboto;
        }

        #app {
            background: url(../../Asserts/img/undraw_posting_photo.svg);
            background-position: bottom right;
            background-size: 20%;
            background-repeat:no-repeat;
            height: 100vh;
            width: 100vw;
        }

        .video {
            height: 400px;
        }

        .video iframe {
            height: 100% !important;
            width: 80% !important;
        }

        .bottom-2 {
            bottom: 10px;
            left: 0;
        }

        button.play {
            border: 0;
            background: transparent;
            box-sizing: border-box;
            width: 0;
            height: 74px;
            border-color: transparent transparent transparent #202020;
            transition: 100ms all ease;
            cursor: pointer;
            border-style: solid;
            border-width: 37px 0 37px 60px;
            top: 50%;
            left: 45%;
        }

        .routing {
            min-height: 85vh;
        }
    </style>
</head>
    <body>
        <div id="app" class="container-fluid position-relative">
            <header class="pt-3">
                <h3 class="text-capitalize font-weight-bold"> Ministério da Saúde ( MINSA ) </h3>
            </header>
            <div class="row mt-3">
                <div class="container routing">
                    <div class="row">
                        <div class="col-md-12 ">
                            <div class="video d-flex overflow-hidden justify-content-center position-relative">
                                <iframe src="https://www.youtube.com/embed/pzgZpXGmzFI?autoplay=1&modestbranding=1&rel=0&theme=light&fs=0&autohide=0&controls=0&disablekb=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                @*<img src="~/Asserts/img/undraw_filing_system_b5d2.svg" class="h-100 w-100" />*@
                                @*<button class="play position-absolute"></button>*@
                            </div>
                        </div>
                        <div class="col-md-12">
                            <h1 class="text-center my-3 mt-5">
                                Inquerito sobre o <br />
                                <b class="text-danger">COVID-19</b>
                            </h1>
                            <p class="m-auto text-center w-50">
                                <b>Olá, eu sou o Pedro!</b> Eu sou um enfermeiro virtual, e estou aqui para te passar algumas informações sobre o coronavírus e te ajudar a identificar se você precisa procurar um posto de saúde ou se bastam alguns cuidados na sua própria casa.
                                Para isso, eu vou te fazer algumas perguntas. Vamos lá?
                            </p>

                            <br />
                            <button class="btn btn-primary m-auto d-block">
                                Começar
                            </button>
                            <br />
                        </div>
                    </div>
                </div>
            </div>
            <footer class="d-flex justify-content-center position-relative w-100">
                <img src="https://www.digitalfactory.co.ao/assets/static/lgo.8781f99.ee2e665.png" height="50" />
            </footer>
        </div>
    </body>
</html>